{% extends "dotabase/base.html" %}
{% block content %}
<p>
    <h2 style=color:white>Meet Our Team</h2>
    <br>
    <b2 style=color:white>We are DOTA2 enthusiasts who spent their months and years learning this game. We know that DOTA2 is a tough journey from the 
        beginning, thus we developed DOTABASE with 
        the intent to make the game learning experience easier for the novice players of 
        the game. You can use our website as a handbook and easily learn all the tricks of the game.   sfs</b2>
</p>

<br><br>


<div class="media" style="width:800px; margin:0 auto;" >
    <img class="rounded-circle account-img" src="/media/berti2.jpeg">
    <img class="rounded-circle account-img" src="/media/gultu2.jpeg">
    <img class="rounded-circle account-img" src="/media/lara.jpeg">
    <img class="rounded-circle account-img" src="/media/sedo.jpeg">
    <img class="rounded-circle account-img" src="/media/ege.jpeg">
</div>

 

    {% endblock content %}
