{% extends "dotabase/base.html" %}
{% block content %}
<p>
    <b>"We are DOTA enthusiasts (well, at least one of us is) who want to
        build a website about DOTA in which people can learn how lame this game actually is! </b>
</p>

<br><br><br> <br>

<div class="media">
    <img class="rounded-circle account-img" src="/media/berti.jpeg">
    <img class="rounded-circle account-img" src="/media/gultu.jpeg">
    <img class="rounded-circle account-img" src="/media/lara.jpeg">
    <img class="rounded-circle account-img" src="/media/sedo.jpeg">
    <img class="rounded-circle account-img" src="/media/ege.jpeg">
</div>
    {% endblock content %}
