{% block content %}
{% for building in buildings %}

<div style="display: flex; flex-wrap: wrap; margin-left:auto; margin-right: auto;">
    <div class="ability-background">
    <div style="background: linear-gradient(135deg, #2277AA -90%, #2277AA -90%, #2277AA -90%, rgba(0,0,0,0) 70%); ">
    <div style="font-weight: bold; font-size: 110%; border-bottom: 1px solid black; background: linear-gradient(-90deg, #1B1E21 -20%, #1B1E21 -20%, #1B1E21 -20%, #2277AA) 90%; color: white; padding: 3px 5px;"> {{ building.building_name }}
    </div><div><div style="margin-left:auto; margin-right:auto"><a class="image"><img alt="Tower Protection icon.png" src= {{ building.building_image }} decoding="async" width="128" height="128"/></a></div> </div>
        <div style="width: 312px; display: inline-block; float:right;">
<div style="padding: 15px 5px; font-size: 85%; line-height: 100%; text-align: center;">

<div style="display: inline-block; width: 32%; vertical-align: top;"></div>
</div>


</div>


<div style="vertical-align:top; padding: 3px 5px; display:inline-block; margin-bottom:10px;"><div><b>Radius</b>: <span style="white-space:nowrap"> {{ building.radius }} </span>

</div>
    <br>
    <div><b>Duration</b>: <span style="white-space: nowrap"> {{ building.duration }} </span></div><div style="margin-top:10px;"></div>
    <div><b>Ability</b>: <span style="white-space: nowrap"> {{ building.ability }} </span></div><div style="margin-top:10px;"></div>
    <div><b>Affects</b>: <span style="white-space: nowrap"> {{ building.affects }}  </span></div><div style="margin-top:10px;"></div>
</div>
    </div>
    </div>
</div>

<br>

{% endfor %}
{% endblock content %}
