
<table class="wikitable" style="text-align:center; border-style:solid; color:white; margin-left:auto; margin-right: auto; background-color:rgb(39,31,34);">
<tbody><tr>
<th class="header sortable" width="10%">Unit
</th>
<th class="header" width="10%">Model
</th>
<th class="header" width="7%"><a>Health</a>
</th>
<th class="header" width="7%"><a>Armor</a>
</th>
<th class="header" width="7%">Move Speed
</th>
<th class="header" width="8%">Attack Damage
</th>
<th class="header" width="7%"><span>BAT</span>
</th>
<th class="header" width="7%">Attack Range
</th>
<th class="header" width="7%">Sight Range
</th>
<th class="header" width="7%">Bounty
</th>
<th class="header" width="7%">Experience
</th>
<th class="header" width="10%">Other stats
</th></tr>
<tr>
<td align="left">Mega Melee Creep
</td>
<td align="center"><img alt="Mega Melee Creep Radiant model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/a/aa/Mega_Melee_Creep_Radiant_model.png/revision/latest/scale-to-width-down/75?cb=20160318190440" decoding="async" width="75" height="75" /></a><a class="image"><img alt="Mega Melee Creep Dire model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/2/27/Mega_Melee_Creep_Dire_model.png/revision/latest/scale-to-width-down/75?cb=20160318190432" decoding="async" width="75" height="75" /></a>
</td>
<td align="center"><span class="tooltip" title="0.5 Health regeneration">1270</span>
</td>
<td align="center"><span class="tooltip" title="Type:">3</span>
</td>
<td align="center"><span class="tooltip" title="0.5 Turn Rate">325</span>
</td>
<td align="center"><span class="tooltip" title="Type: Basic">96‒104</span>
</td>
<td align="center">1
</td>
<td align="center"><span class="tooltip" title="Melee, 500 Acquisition Range">100</span>
</td>
<td align="center"><span class="tooltip" title="During the day" style=>750</span>/<span>750</span>
</td>
<td align="center">20‒26
</td>
<td align="center">25
</td>
<td align="center"><a title="Magic resistance">Magic resistance</a>: 0%<br /><a title="Attack animation">Attack animation</a>: <span class="tooltip" title="Attack point" style=>0.467</span>+<span class="tooltip" title="Attack backswing" style=>0.533</span>
</td></tr>

<tr>
<td align="left"><a title="Mega Ranged Creep">Mega Ranged Creep</a>
</td>
<td align="center"><a class="image"><img alt="Mega Ranged Creep Radiant model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/5/5c/Mega_Ranged_Creep_Radiant_model.png/revision/latest/scale-to-width-down/75?cb=20160318190441" decoding="async" width="75" height="75" /></a><a class="image"><img alt="Mega Ranged Creep Dire model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/b/b5/Mega_Ranged_Creep_Dire_model.png/revision/latest/scale-to-width-down/75?cb=20160318190435" decoding="async" width="75" height="75" /></a>
</td>
<td align="center"><span class="tooltip" title="2 Health regeneration">1015</span>
</td>
<td align="center"><span class="tooltip" title="Type:">1</span>
</td>
<td align="center"><span class="tooltip" title="0.5 Turn Rate">325</span>
</td>
<td align="center"><span class="tooltip" title="Type: Pierce">131‒136</span>
</td>
<td align="center">1
</td>
<td align="center"><span class="tooltip" title="Ranged, 600 Acquisition Range">500</span>
</td>
<td align="center"><span class="tooltip" title=>750</span>/<span class="tooltip" title="During the night">750</span>
</td>
<td align="center">19‒25
</td>
<td align="center">22
</td>
<td align="center"><a title="Mana">Mana</a>: <span class="tooltip" title="0.75 Mana regeneration">500</span><br /><a title="Magic resistance">Magic resistance</a>: 0%<br /><a title="Attack animation">Attack animation</a>: <span class="tooltip" title="Attack point">0.5</span>+<span class="tooltip" title="Attack backswing">0.3</span>
</td></tr>

<tr>
<td align="left"><a title="Melee Creep">Melee Creep</a>
</td>
<td align="center"><a class="image"><img alt="Melee Creep Radiant model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/e/e7/Melee_Creep_Radiant_model.png/revision/latest/scale-to-width-down/75?cb=20160318190437" decoding="async" width="75" height="75" /></a><a class="image"><img alt="Melee Creep Dire model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/a/a9/Melee_Creep_Dire_model.png/revision/latest/scale-to-width-down/75?cb=20160318190431" decoding="async" width="75" height="75" /></a>
</td>
<td align="center"><span class="tooltip" title="0.5 Health regeneration">550</span>
</td>
<td align="center"><span class="tooltip" title="Type:">2</span>
</td>
<td align="center"><span class="tooltip" title="0.5 Turn Rate">325</span>
</td>
<td align="center"><span class="tooltip" title="Type: Basic">19‒23</span>
</td>
<td align="center">1
</td>
<td align="center"><span class="tooltip" title="Melee, 500 Acquisition Range">100</span>
</td>
<td align="center"><span class="tooltip" title="During the day">750</span>/<span class="tooltip" title="During the night">750</span>
</td>
<td align="center">34‒39
</td>
<td align="center">57
</td>
<td align="center"><a title="Magic resistance">Magic resistance</a>: 0%<br /><a title="Attack animation">Attack animation</a>: <span class="tooltip" title="Attack point">0.467</span>+<span class="tooltip" title="Attack backswing" style=>0.533</span>
</td></tr>

<tr>
<td align="left"><a title="Ranged Creep">Ranged Creep</a>
</td>
<td align="center"><a class="image"><img alt="Ranged Creep Radiant model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/0/0b/Ranged_Creep_Radiant_model.png/revision/latest/scale-to-width-down/75?cb=20160318190439" decoding="async" width="75" height="75" /></a><a href="/File:Ranged_Creep_Dire_model.png" class="image"><img alt="Ranged Creep Dire model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/3/3f/Ranged_Creep_Dire_model.png/revision/latest/scale-to-width-down/75?cb=20160318190433" decoding="async" width="75" height="75" /></a>
</td>
<td align="center"><span class="tooltip" title="2 Health regeneration">300</span>
</td>
<td align="center"><span class="tooltip" title="Type:">0</span>
</td>
<td align="center"><span class="tooltip" title="0.5 Turn Rate">325</span>
</td>
<td align="center"><span class="tooltip" title="Type: Pierce">21‒26</span>
</td>
<td align="center">1
</td>
<td align="center"><span class="tooltip" title="Ranged, 600 Acquisition Range">500</span>
</td>
<td align="center"><span class="tooltip" title="During the day">750</span>/<span>750</span>
</td>
<td align="center">43‒52
</td>
<td align="center">69
</td>
<td align="center"><a title="Mana">Mana</a>: <span class="tooltip" title="0.75 Mana regeneration">500</span><br /><a title="Magic resistance">Magic resistance</a>: 0%<br /><a title="Attack animation">Attack animation</a>: <span class="tooltip" title="Attack point">0.5</span>+<span class="tooltip" title="Attack backswing">0.3</span>
</td></tr>

<tr>
<td align="left"><a title="Siege Creep">Siege Creep</a>
</td>
<td align="center"><a class="image"><img alt="Siege Creep Radiant model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/5/56/Siege_Creep_Radiant_model.png/revision/latest/scale-to-width-down/75?cb=20160318190445" decoding="async" width="75" height="75" /></a><a class="image"><img alt="Siege Creep Dire model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/6/6a/Siege_Creep_Dire_model.png/revision/latest/scale-to-width-down/75?cb=20160318190437" decoding="async" width="75" height="75" /></a>
</td>
<td align="center"><span class="tooltip" title="0 Health regeneration">935</span>
</td>
<td align="center"><span class="tooltip" title="Type: Structure">0</span>
</td>
<td align="center"><span class="tooltip" title="0.5 Turn Rate">325</span>
</td>
<td align="center"><span class="tooltip" title="Type: Siege">35‒46</span>
</td>
<td align="center">3
</td>
<td align="center"><span class="tooltip" title="Ranged, 800 Acquisition Range">690</span>
</td>
<td align="center"><span class="tooltip" title="During the day">750</span>/<span class="tooltip" title="During the night">750</span>
</td>
<td align="center">59‒72
</td>
<td align="center">88
</td>
<td align="center"><a title="Magic resistance">Magic resistance</a>: 80%<br /><a title="Attack animation">Attack animation</a>: <span class="tooltip" title="Attack point">0.7</span>+<span class="tooltip" title="Attack backswing">2</span>
</td></tr>

<tr>
<td align="left"><a title="Super Melee Creep">Super Melee Creep</a>
</td>
<td align="center"><a class="image"><img alt="Melee Creep Radiant model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/e/e7/Melee_Creep_Radiant_model.png/revision/latest/scale-to-width-down/75?cb=20160318190437" decoding="async" width="75" height="75" /></a><a class="image"><img alt="Melee Creep Dire model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/a/a9/Melee_Creep_Dire_model.png/revision/latest/scale-to-width-down/75?cb=20160318190431" decoding="async" width="75" height="75" /></a>
</td>
<td align="center"><span class="tooltip" title="0.5 Health regeneration" style=>700</span>
</td>
<td align="center"><span class="tooltip" title="Type:">3</span>
</td>
<td align="center"><span class="tooltip" title="0.5 Turn Rate">325</span>
</td>
<td align="center"><span class="tooltip" title="Type: Basic">36‒44</span>
</td>
<td align="center">1
</td>
<td align="center"><span class="tooltip" title="Melee, 500 Acquisition Range">100</span>
</td>
<td align="center"><span class="tooltip" title="During the day">750</span>/<span class="tooltip" title="During the night">750</span>
</td>
<td align="center">20‒26
</td>
<td align="center">25
</td>
<td align="center"><a title="Magic resistance">Magic resistance</a>: 0%<br /><a title="Attack animation">Attack animation</a>: <span class="tooltip" title="Attack point">0.467</span>+<span class="tooltip" title="Attack backswing">0.533</span>
</td></tr>

<tr>
<td align="left"><a title="Super Ranged Creep">Super Ranged Creep</a>
</td>
<td align="center"><a class="image"><img alt="Ranged Creep Radiant model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/0/0b/Ranged_Creep_Radiant_model.png/revision/latest/scale-to-width-down/75?cb=20160318190439" decoding="async" width="75" height="75" /></a><a class="image"><img alt="Ranged Creep Dire model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/3/3f/Ranged_Creep_Dire_model.png/revision/latest/scale-to-width-down/75?cb=20160318190433" decoding="async" width="75" height="75" /></a>
</td>
<td align="center"><span class="tooltip" title="2 Health regeneration">475</span>
</td>
<td align="center"><span class="tooltip" title="Type:">1</span>
</td>
<td align="center"><span class="tooltip" title="0.5 Turn Rate">325</span>
</td>
<td align="center"><span class="tooltip" title="Type: Pierce">41‒46</span>
</td>
<td align="center">1
</td>
<td align="center"><span class="tooltip" title="Ranged, 600 Acquisition Range">500</span>
</td>
<td align="center"><span class="tooltip" title="During the day">750</span>/<span class="tooltip" title="During the night">750</span>
</td>
<td align="center">21‒19
</td>
<td align="center">25
</td>
<td align="center"><a title="Mana">Mana</a>: <span class="tooltip" title="0.75 Mana regeneration">500</span><br /><a title="Magic resistance">Magic resistance</a>: 0%<br /><a title="Attack animation">Attack animation</a>: <span class="tooltip" title="Attack point">0.5</span>+<span class="tooltip" title="Attack backswing">0.3</span>
</td></tr>

<tr>
<td align="left"><a title="Super Siege Creep">Super Siege Creep</a>
</td>
<td align="center"><a class="image"><img alt="Siege Creep Radiant model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/5/56/Siege_Creep_Radiant_model.png/revision/latest/scale-to-width-down/75?cb=20160318190445" decoding="async" width="75" height="75" /></a><a class="image"><img alt="Siege Creep Dire model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/6/6a/Siege_Creep_Dire_model.png/revision/latest/scale-to-width-down/75?cb=20160318190437" decoding="async" width="75" height="75" /></a>
</td>
<td align="center"><span class="tooltip" title="0 Health regeneration">935</span>
</td>
<td align="center"><span class="tooltip" title="Type: Structure">0</span>
</td>
<td align="center"><span class="tooltip" title="0.5 Turn Rate">325</span>
</td>
<td align="center"><span class="tooltip" title="Type: Siege">51‒62</span>
</td>
<td align="center">3
</td>
<td align="center"><span class="tooltip" title="Ranged, 800 Acquisition Range">690</span>
</td>
<td align="center"><span class="tooltip" title="During the day">750</span>/<span class="tooltip" title="During the night">750</span>
</td>
<td align="center">59‒72
</td>
<td align="center">88
</td>
<td align="center"><a title="Magic resistance">Magic resistance</a>: 80%<br /><a title="Attack animation">Attack animation</a>: <span class="tooltip" title="Attack point">0.7</span>+<span class="tooltip" title="Attack backswing">2</span>
</td></tr>
</tbody></table>
