
<table class="wikitable" style="text-align:center; border-style:solid; color:white; margin-left:auto; margin-right: auto; background-color:rgb(39,31,34);">
<tbody><tr>
<th colspan="2" style="height: 50px; font-size: large;"><b>Bounty</b>
</th>
</tr>
<tr>
<td style="width: 80px;">Icon</td>
<td style="padding: 5px"><img alt="Bounty Rune minimap icon.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/c/c9/Bounty_Rune_minimap_icon.png/revision/latest/scale-to-width-down/32?cb=20150121151359" decoding="async" width="32" height="32" /></a>
</td>
<td style="padding: 10px; text-align: left; vertical-align: top;" rowspan="4"><b>Initial Team Gold</b>: 40
<p><b>Extra Team Gold per 5 Minutes</b>: 10
</p>
</td>
</tr>
<tr>
<td style="width: 88px;">Model</td>
<td><img alt="Rune of Bounty model.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/0/09/Rune_of_Bounty_model.png/revision/latest/scale-to-width-down/88?cb=20161214004322" decoding="async" width="88" height="88" />
</td></tr>
<tr>
<td style="width: 80px; height: 64px;">Bottle</a></td>
<td><img alt="Bottle (Bounty) icon.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/c/ce/Bottle_%28Bounty%29_icon.png/revision/latest/scale-to-width-down/88?cb=20170529213537" decoding="async" width="88" height="64" /></a>
</td></tr>
</tbody>
</table>

