
<!DOCTYPE html>
<html class="client-nojs" lang="en" dir="ltr">
<head>

<h2><span class="mw-headline" id="List">List</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/Talents?action=edit&amp;section=1" title="Edit section: List">edit</a><span class="mw-editsection-bracket">]</span></span></h2>
<div style="width:100%; overflow-x:scroll;">
<table class="wikitable" style="width:100%; text-align:center; font-size:90%;">
<tbody><tr>
<th colspan="2" style="border-bottom:solid 2px black; background:#3578e3; color:white; font-size:12pt;">Hero
</th>
<th style="width:20%; border-bottom:solid 2px black; background:#3578e3; color:white; font-size:11pt;">Level 10
</th>
<th style="width:20%; border-bottom:solid 2px black; background:#1c5eca; color:white; font-size:11pt;">Level 15
</th>
<th style="width:20%; border-bottom:solid 2px black; background:#15499d; color:white; font-size:11pt;">Level 20
</th>
<th style="width:20%; border-bottom:solid 2px black; background:#0c2a5a; color:white; font-size:11pt;">Level 25
</th></tr>
<tr>
<td rowspan="2" style="width:150px; padding:0px; border-bottom:solid 2px black;"><a href="/Abaddon/Talents" title="Abaddon/Talents"><img alt="Abaddon icon.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/2/26/Abaddon_icon.png/revision/latest/scale-to-width-down/150?cb=20170417182638" decoding="async" width="150" height="84" /></a>
</td>
<td rowspan="2" style="width:200px; padding:0px; border-bottom:solid 2px black;"><b><a href="/Abaddon/Talents" title="Abaddon/Talents">Abaddon</a></b>
</td>
<td style="height:40px; padding:0px;">+8 <span style="white-space:nowrap"><a href="/Strength" title="Strength"><img alt="Strength attribute symbol.png" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/7/7a/Strength_attribute_symbol.png/revision/latest/scale-to-width-down/20?cb=20180323111829" decoding="async" width="20" height="20" class="noprint" /></a> <a href="/Strength" title="Strength">Strength</a></span>
</td>
<td style="height:40px; padding:0px;">+50 <span class="image-link"><a href="/Abaddon" title="Abaddon"><img alt="" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/c/ce/Mist_Coil_icon.png/revision/latest/scale-to-width-down/16?cb=20130710221942" decoding="async" width="16" height="16" class="noprint" /></a> <a href="/Abaddon#Mist_Coil" title="Abaddon">Mist Coil</a></span> Heal/Damage
</td>
<td style="height:40px; padding:0px;">+8 <a href="/Armor" title="Armor">Armor</a>
</td>
<td style="height:40px; padding:0px;">425 AoE <span class="image-link"><a href="/Abaddon" title="Abaddon"><img alt="" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/c/ce/Mist_Coil_icon.png/revision/latest/scale-to-width-down/16?cb=20130710221942" decoding="async" width="16" height="16" class="noprint" /></a> <a href="/Abaddon#Mist_Coil" title="Abaddon">Mist Coil</a></span>
</td></tr>
<tr>
<td style="height:40px; padding:0px; border-bottom:solid 2px black; background:#eff5ff;">+15 <a href="/Movement_speed" title="Movement speed">Movement Speed</a>
</td>
<td style="height:40px; padding:0px; border-bottom:solid 2px black; background:#eff5ff;">+65 <a href="/Attack_damage" title="Attack damage">Damage</a>
</td>
<td style="height:40px; padding:0px; border-bottom:solid 2px black; background:#eff5ff;">15% <a href="/Cooldown" title="Cooldown">Cooldown Reduction</a>
</td>
<td style="height:40px; padding:0px; border-bottom:solid 2px black; background:#eff5ff;">+180 <span class="image-link"><a href="/Abaddon" title="Abaddon"><img alt="" src="https://static.wikia.nocookie.net/dota2_gamepedia/images/b/b1/Aphotic_Shield_icon.png/revision/latest/scale-to-width-down/16?cb=20130710221906" decoding="async" width="16" height="16" class="noprint" /></a> <a href="/Abaddon#Aphotic_Shield" title="Abaddon">Aphotic Shield</a></span> Health
</td></tr>